@model Calligraphy.ViewModel.ArtWorkViewModel

<h4>編輯作品</h4>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="EditArtWork" id="EditForm" method="post" asp-route-id="@Model.ArtWorkId">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtWorkId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" style="resize:none;" rows="5" cols="20" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="CreatedYear" class="control-label"></label>
                <input asp-for="CreatedYear" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
            </div>
            <div class="form-group form-check mt-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisible" /> @Html.DisplayNameFor(model => model.IsVisible)
                </label>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
