@using Calligraphy.ViewModel
@using System.Security.Claims
@model IEnumerable<Calligraphy.ViewModel.DashboardViewModel>
@{
    ViewData["Title"] = "最新留言";
}
@section Styles {
    <link href="~/assets/css/styles.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}
<div style="display:none;">
    @Html.AntiForgeryToken()
</div>
<div>
    <div class="card">
        <div class="card-body">
            <div class="d-block align-items-center">
                <div>
                    <h4 class="card-title">按讚最多的作品</h4>
                </div>
                <table id="LikeTable" class="mdl-data-table table-hover text-center" style="width:100%">
                    <thead class="text-nowrap">
                        <tr>
                            <th class="text-muted">
                                @Html.DisplayNameFor(model => model.artTitle)
                            </th>
                            <th class="text-muted">
                                @Html.DisplayNameFor(model => model.likeCount)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@* <div class="alert alert-info">
    <p>📢 若您想收到「有人按讚您的作品」的 LINE 通知：</p>
    <ul>
        <li>請點下方按鈕加入我們的 LINE 官方帳號</li>
        <li>加入後，請傳一則「您好」給我們</li>
    </ul>
    <a class="btn btn-success" href="javascript:void(0)" onclick="Addline();">
        👉 點我加入 LINE 好友
    </a>
    <p class="mt-2">加入後請不要關閉 LINE，系統會自動顯示「開啟通知」按鈕，請點一下完成綁定 ✅</p>
</div>
 *@

<!--圖片視窗-->
<div class="modal fade" id="PicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body Picture">
                ...
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script type="module" src="~/js/dashboard.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        // function Addline() {
        //     // 使用者點擊加入 LINE 好友後，開啟 LINE 官方帳號的連結
        //     debugger;
        //     const userId = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
        //     const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        //     fetch('/Home/AddLineFriend', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'RequestVerificationToken': token
        //         },
        //         body: JSON.stringify(userId)
        //     })
        //     .then(response => {
        //         if (response.ok) {
        //             window.open("https://line.me/R/ti/p/%7E@615clzqr", '_blank');
        //         } else {
        //             console.error('加入 LINE 好友失敗');
        //         }
        //     })
        //     .catch(error => {
        //         console.error('加入 LINE 好友時發生錯誤:', error);
        //     });
        // }
    </script>
}