@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<link href="~/css/error.min.css" rel="stylesheet" />

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    @if (TempData["LimitError"] != null && (bool)TempData["LimitError"])
    {
        <h2>連結失效</h2>
    }
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
    <p class="output">Please try to 
        <a href="javascript:history.back()">go back</a> or 
        <a href="@Url.Action("Index", "Home")">返回首頁</a>.</p>
    <p class="output">Good luck.</p>
</div>
