
@{
    Layout = null;
    ViewData["Title"] = "忘記密碼";
}
<link href="~/css/forgotpassword.css" rel="stylesheet" />
<!-- From Uiverse.io by gharsh11032000 -->
<div class="form-container">
    <div class="logo-container">
        @ViewData["Title"]
    </div>

    <form class="form" asp-action="ForgotPassword" method="post">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label name="email" for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email" >
        </div>

        <button class="form-submit-btn" type="submit">送出</button>
    </form>

    <p class="signup-link">
        Don't have an account?
        <a href="@Url.Action("Register", "Admin")" class="signup-link link"> 註冊 </a>
    </p>
</div>

<script type="text/javascript">
    var check = "@(ViewBag.Check?.ToString().ToLower())"
    if(check == "true"){
        alert("驗證信已送出。");
    }
</script>