
@{
    Layout = null;
    ViewData["Title"] = "忘記密碼";
}
<style>
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>請輸入註冊時的 Email，我們將寄送重設密碼連結給您。</p>
    <form asp-action="ForgotPassword" method="post">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label name="email">Email:</label>
            <input name="email" class="form-control" id="email" type="email">
        </div>
        <input type="submit" class="btn btn-primary" value="送出">
    </form>
</div>

<script type="text/javascript">
    var check = "@(ViewBag.Check?.ToString().ToLower())"
    if(check == "true"){
        alert("請檢查您的信箱，並點擊信件中的連結以重設密碼。");
    }
</script>