@using Calligraphy.ViewModel
@model RegisterViewModel
@{
    Layout = null;
}
<link href="~/css/register.css" rel="stylesheet" />
<!-- From Uiverse.io by Yaya12085 -->
<!-- From Uiverse.io by ahmed150up -->
<body>
    <div class="card">
        <div class="card-header">
            <div class="text-header">註冊</div>
        </div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="Username">信箱:</label>
                    <input asp-for="Username" class="form-control" id="email" type="email">
                    <span class="mb-2">@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })</span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">姓名:</label>
                    <input asp-for="Name" class="form-control" type="text">
                    <span class="mb-2">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">密碼:</label>
                    <input asp-for="Password" class="form-control" id="password" type="password">
                    <span class="mb-2"></span>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">確認密碼:</label>
                    <input asp-for="ConfirmPassword" class="form-control" id="confirm-password" type="password">
                    <span class="mb-2"></span>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <input type="submit" class="btn" value="送出">
            </form>
        </div>
    </div>
</body>
