
@{
    Layout = null;
    ViewData["Title"] = "忘記密碼";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/forgotpassword.css" rel="stylesheet" />
</head>
<!-- From Uiverse.io by gharsh11032000 -->
<body>
    <div class="form-container">
        <div class="logo-container">
            @ViewData["Title"]
        </div>

        <form class="form" asp-action="ForgotPassword" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label name="email" for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" >
                <span>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </span>
            </div>

            <button class="form-submit-btn" type="submit">送出</button>
        </form>

        <p class="signup-link">
            Don't have an account?
            <a href="@Url.Action("Register", "SignUp")" class="signup-link link"> 註冊 </a>
        </p>
    </div>
</body>

@if (TempData["ForgotPassword"] != null && (bool)TempData["ForgotPassword"])
{
    <script type="text/javascript">
        alert("重設密碼連結已送出。");
    </script>
}